# .gitignore for Terraform projects

# Terraform state files
*.tfstate
*.tfstate.*
*.backup

# Terraform plugins
.terraform/

# Terraform module directories
.terraform.d/modules/

# Terraform cache directory
.terraform/cache/

# Terraform temp directory
.terraform/temp/
